<div class="clearfix" id="viewer">
	
	<h3>Les utilisateurs qui ont vu votre profile :</h3>
	<hr>

	<% if (listViewers) { %>
		<% for (viewer of listViewers) { %>
			<a class="viewer" href="/profile/<%= viewer.login %>">
				<div class="col-md-4">
					<h4><%= viewer.login %></h4>
					<img class="img-responsive" src="<% if (viewer.path) { %><%= viewer.path %><% } else { %>https://source.unsplash.com/random<% } %>">
					<p>
						<% if (viewer.age) { %>
							<%= viewer.age %> ans<br />
						<% } %>
						<%= viewer.viewed_at %>
					</p>
				</div>
			</a>
		<% } %>
	<% } else { %>
		<p>
			Personne n'a regardé votre profile pour le moment.
		</p>
	<% } %>


</div>

