<% include ../partials/head %>
<% include ../partials/header %>


<div class="container">
	<div class="row profile">
		<div class="col-md-4">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://static.mnium.org/images/contenu/actus/Heroes_Storm/Heros/Guldan/sommaire_guldan.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= user.firstName %>
						<%= user.name %>
						<!-- Gul'Dan -->
					</div>
					<div class="profile-usertitle-job"> <!-- sexe avec la bonne couleur -->
						<!-- Maître Démoniste -->
						<%= user.gender %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav" role="tablist">
						<li role="presentation" class="active">
							<a href="#infos" aria-controls="infos" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-home"></i>
								Infos
							</a>
						</li>
						<li role="presentation">
							<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-user"></i>
								Photos
							</a>
						</li>
						<li role="presentation">
							<a href="#interets" aria-controls="interets" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-ok"></i>
								Intérêts
							</a>
						</li>
						<li role="presentation">
							<a href="#bio" aria-controls="bio" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-flag"></i>
								Bio
							</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-8 tab-content">
			<div role="tabpanel" class="tab-pane active" id="infos">
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Nom :</td>
							<td><%= user.name %></td>
						</tr>
						<tr>
							<td>Prénom :</td>
							<td><%= user.firstName %></td>
						</tr>
						<tr>
							<td>Sexe :</td>
							<td><%= user.gender %></td>
						</tr>
						<tr>
							<td>Intéressé(e) par :</td>
							<td><%= user.orientation %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="photos">
				 photos
			</div>
			<div role="tabpanel" class="tab-pane" id="interets">
				 interets
			</div>
			<div role="tabpanel" class="tab-pane" id="bio">
				 bio
			</div>
		</div>
	</div>
</div>




<!-- 

<div class="row">
	<div class="col-md-4">
		<div class="profile-picture">
			<h2>profile de machin</h2>
			<img src="http://static.mnium.org/images/contenu/actus/Heroes_Storm/Heros/Guldan/sommaire_guldan.jpg" class="center-block img-responsive">
		</div>
	</div>
	<div class="col-md-8">
		<div class="profile-infos">
			<h3>About me</h3>
			<div class="inner-profile-infos">
				<p>
					some text bl regeargaeg eatgegbsetgbsetbgnsegesowrthwsrlhtnusortgssrthsrthrouhgousrsrthnsrlghorsu srthnisorht
				</p>
				<div class="personnal-infos clearfix">
					<div class="col-md-5">
						<p class="lead">
							My name :
						</p>
					</div>
					<div class="col-md-7">
						<p>
							Gul'Dan
						</p>
					</div>
				</div>
				<div class="personnal-infos clearfix">
					<div class="col-md-5">
						<p class="lead">
							My age :
						</p>
					</div>
					<div class="col-md-7">
						<p>
							234
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<% if (locals.sessUser && locals.sessUser.login) { %>
	<p>
		<%= sessUser.login %>
	</p>
<% } %> -->




<script src="/assets/js/close.js"></script>


<% include ../partials/footer %>

</body>
</html>