<% include ../partials/head %>
<% include ../partials/header %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/assets/js/profile.js"></script>



<div class="container">
	<div class="row profile">
		<div class="col-md-4">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://static.mnium.org/images/contenu/actus/Heroes_Storm/Heros/Guldan/sommaire_guldan.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name" id="login"><%= sessUser.login %></div>
					<div class="profile-usertitle-job"> <!-- sexe avec la bonne couleur -->
						<!-- Maître Démoniste -->
						<%= user.gender %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Tu me plais !</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav" role="tablist">
						<li role="presentation" class="active">
							<a href="#infos" aria-controls="infos" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-home"></i>
								Infos
							</a>
						</li>
						<li role="presentation">
							<a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-user"></i>
								Photos
							</a>
						</li>
						<li role="presentation">
							<a href="#interets" aria-controls="interets" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-ok"></i>
								Intérêts
							</a>
						</li>
						<li role="presentation">
							<a href="#signaler" aria-controls="signaler" role="tab" data-toggle="tab">
								<i class="glyphicon glyphicon-flag"></i>
								Signaler
							</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div> <!-- END COL MD 4 -->

		<div class="col-md-8 tab-content">
			<div role="tabpanel" class="tab-pane active" id="infos">
				<div class="profileinfo">
					<div class="gear">
						<label>Nom :</label>
						<span id="name" class="datainfo"><%= user.name %></span>
						<a href="#" class="editlink">Editez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
					
					<div class="gear">
						<label>Prénom :</label>
						<span id="firstName" class="datainfo"><%= user.firstName %></span>
						<a href="#" class="editlink">Editez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
					
					<div class="gear">
						<label>Sexe :</label>
						<span id="gender" class="datainfo"><%= user.gender %></span>
						<a href="#" class="editlink">Editez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
					
					<div class="gear">
						<label>Intéressé(e) par :</label>
						<span id="orientation" class="datainfo"><%= user.orientation %></span>
						<a href="#" class="editlink">Editez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
					
					<div class="gear">
						<label>Email :</label>
						<span id="email" class="datainfo"><%= user.email %></span>
						<a href="#" class="editlink">Éditez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
					<div class="gear">
						<label>Bio :</label>
						<span id="bio" class="datainfo"><%= user.bio %></span>
						<a href="#" class="editlink">Éditez vos infos</a>
						<a class="savebtn btn btn-primary">Sauver</a>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="photos">
				 photos
			</div>

			<div role="tabpanel" class="tab-pane" id="interets">
				 interets
			</div>

			<div role="tabpanel" class="tab-pane" id="signaler">
				 signaler
			</div>
		</div> <!-- END COL MD 8 -->
	</div>
</div>


<script src="/assets/js/close.js"></script>


<% include ../partials/footer %>

</body>
</html>